@model App.Models.ProjectViewModel
@using App.Models

@{
    ViewBag.Title = "Add Project";
}


<div style="margin-top:10%;">
    <h2 class="merri-700">Append Project</h2>
    <br />
    <div class="well col-md-6" style="border-radius:0px;">
        @using (Html.BeginForm("CreateProject", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4 class="merri-400">Manage as easy as create</h4>
            <br />
            @Html.Partial("ProjectInputPartial")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jq")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker-styles")
    <script>
        (function () {
            $('.datepicker').datepicker();
        })();
    </script>
}



