@model App.Models.ProjectViewModel
@using App.Models

@{
    ViewBag.Title = "Edit project";
    ProjectViewModel project = Model;
}



<div style="margin-top:10%;">
    <h2 class="merri-700">Edit project</h2>
    <br />
    <div class="well col-md-6" style="border-radius:0px;">
        @using (Html.BeginForm("EditProject", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4 class="merri-400">Edit existing project</h4>
            <br />
            @Html.HiddenFor(x => x.Id, Model.Id)
            @Html.Partial("ProjectInputPartial")
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jq")
    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker-styles")
    <script>
        (function () {
            $('.datepicker').datepicker();
        })();
    </script>
}


