@model App.Models.ProjectViewModel


@Html.AntiForgeryToken()


<div class="form-group">
   @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })

    @Html.Label("Project name", new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control merri-400", @placeholder = "Here goes project name" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Start date", new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.StartDate, new
       {
           @class = "form-control datepicker merri-400", @placeholder = " Here goes start date",
           @data_date_format = "dd.mm.yyyy"
       })
        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("End date", new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.EndDate, new
       {
           @class = "form-control datepicker merri-400", @placeholder = " Here goes end date",
           @data_date_format = "dd.mm.yyyy"
       })
        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-7">
        <div class="col-md-5">

        </div>
        <input type="submit" class="btn btn-primary merri-400 col-md-3" value="Apply" />
    </div>
</div>


