@using App.Models
@using PagedList.Mvc;
@model  PagedList.IPagedList<ProjectViewModel> 
@{
    ViewBag.Title = "Show Projects";
    PagedList.IPagedList<ProjectViewModel> ProjectList = Model;
}

@*
<div style="margin-top:3%;" class="well col-md-3">
    @using (Html.BeginForm("Search", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    
    <h3>Search options</h3>
    <br />

    @Html.Partial("ProjectSearchPartial", new ProjectViewModel())
}
</div> *@
<div style="margin-top:3%; margin-left:2%;" class="well col-xs-10">

    <h2>Recent projects</h2>
    <table class="table">
        <thead>
            <tr>
                <th  class="col-sm-5">Name</th>
                <th class="col-sm-2">Start date</th>
                <th class="col-sm-2">End date</th>
                <th class="col-sm-4">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ProjectList)
            {
                <tr>
                    <td class="col-sm-3">@item.Name</td>
                    <td class="col-sm-1">@item.StartDate</td>
                    <td class="col-sm-1">@item.EndDate</td>
                    @Html.Partial("OptionsPartial", item)
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ShowProjects", new { page }))

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jq")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker-styles")

    <script type="text/javascript">
        (function () {
            $('.remove').each (function () {
                $(this).on("click", function () {
                    if (confirm("Are you sure you want to delete project?") == true) {
                        this.submit();
                    } else {
                        return false;
                    }
                })
            });
            $('.datepicker').datepicker({
                orientation: 'bottom'
            });



        })();
    </script>
}





