@model App.Models.EmployeeViewModel
@using App.Models

@{
    ViewBag.Title = "EditEmployee";
    EmployeeViewModel employee = Model;
}


<div style="margin-top:10%;">
    <h2 class="merri-700">Edit Employee</h2>
    <br />
    <div class="well col-md-6" style="border-radius:0px;">
        @using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4 class="merri-400">Edit existing employee</h4>
            <br />
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id, employee.Id)
            @Html.Partial("EmployeeInputPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}


