@model App.Models.EmployeeViewModel
@using App.Models
@{
    PositionsService RoleContainer = new PositionsService();
    EmployeeViewModel employee = Model;
}
@Html.AntiForgeryToken()

@Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control merri-400", @placeholder = "Here goes employee's name" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Surname, new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control merri-400", @placeholder = "Here goes employee's surname" })
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control merri-400", @placeholder = "Here goes employee's email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Position, new { @class = "col-md-3 control-label merri-400" })
    <div class="col-md-8">
        @Html.DropDownListFor(m => m.Position, RoleContainer.GetRoles(), "Options", new { @class = "form-control merri-400", @placeholder = "-Select role-" })
        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-7">
        <div class="col-md-5">

        </div>
        <input type="submit" class="btn btn-primary merri-400 col-md-3" value="Apply" />
    </div>
</div>
